@model ProgressTracker.MVC.Models.AddTaskViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources
@inject IHtmlLocalizer<Translation> localizer
@{ 
   ViewData["Title"] = localizer[Translation.Add];
}
<div class="container flex-center">
   <div id="add-task" class="row" style="margin-top: 20px;width: 100%;">
      <form asp-action="Add" class="col s12">
         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input type="hidden" asp-for="ProjectId" />
         <div class="row">
            <div class="input-field col s12">
               <label asp-for="Description" class="validate"></label>
               <input asp-for="Description" class="form-control" />
               <span asp-validation-for="Description" class="helper-text red-text"></span>
            </div>
         </div>
         <button type="submit" class="btn btn-fullwidth waves-effect waves-light black white-text">@localizer[Translation.CreateNewTask]</button>
      </form>
   </div>
</div>


