html, body {
   height: 100%;
}

// Sidenav Fix
#header, #main, #footer {
   padding-left: 300px;
}

#main {
   height: 100%;
}

@media only screen and (max-width : 992px) {
   #header, #main, #footer {
      padding-left: 0;
   }
}


#header, #main {
   .modal {
      max-height: 100%;
      overflow-y: hidden;
      padding: 10px;

      .modal-content {
         padding: 0 24px;
      }
   }
}

#main .table * {
   color: inherit;
}

#main ul * {
   color: inherit;
}

#navbar-top {
   box-shadow: none;
   border-bottom: 2px solid black;

   @media only screen and (min-width : 769px) {
      .nav-wrapper .brand-logo {
         margin-left: 20px;
      }
   }
}

#login {
   max-width: 500px;
   margin: 100px auto;
}

#edit-task-panel {
   margin: 100px auto;
}

#add-task .select-wrapper * {
   color: black;
}

#delete-project-modal {
   max-width: 75%;
}

.has-sidenav-fixed {
   @media (min-width: 1024px) {
      margin-left: 300px;
   }
}

/* valid color */
.input-field input.valid {
   border-bottom: 1px solid green;
   box-shadow: 0 1px 0 0 green;
}

/* invalid color */
.input-field input.input-validation-error {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}

.media-content .media-content-text {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.task-description.is-checked {
   text-decoration-line: line-through;
}

.task-container:not(.edit) {
   .save-button {
      display: none;
   }

   input {
      @extend .readonly;
   }
}

.readonly {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.invisible-button {
   background: none;
   color: inherit;
   font: inherit;
   border: none;
   outline: inherit;
}

.line-through {
   color: #808080;
   text-decoration: line-through;
}

.text-uppercase {
   text-transform: uppercase;
}

.pull-right {
   display: block;
   float: right;
}

.bold-text {
   font-weight: bold;
}

.text-md {
   font-size: 16px;
}

.text-lg {
   font-size: 18px;
}

ul * {
   color: inherit;
}

.secondary-content {
   color: inherit;
}

.mx-500 {
   max-width: 500px;
}

.collection {
   margin: auto;
}

.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100%;
}

.collection-table {
   td {
      word-break: break-all;
      padding-left: 20px;
      padding-right: 20px;
   }
}

.text-overflow-elipsis {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   display: block;
}
