html, body {
   height: 100%;
}

// Sidenav Fix
#header, #main, #footer {
   padding-left: 300px;
}

@media only screen and (max-width : 992px) {
   #header, #main, #footer {
      padding-left: 0;
   }
}

#login {
   max-width: 500px;
   margin: 100px auto;
}

.has-sidenav-fixed {
   @media (min-width: 1024px) {
      margin-left: 300px;
   }
}

/* valid color */
.input-field input.valid {
   border-bottom: 1px solid green;
   box-shadow: 0 1px 0 0 green;
}

/* invalid color */
.input-field input.input-validation-error {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
}

.media-content .media-content-text {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.task-description.is-checked {
   text-decoration-line: line-through;
}

.task-container:not(.edit) {
   .save-button {
      display: none;
   }

   input {
      @extend .readonly;
   }
}

.readonly {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.invisible-button {
   background: none;
   color: inherit;
   font: inherit;
   border: none;
   outline: inherit;
}

.line-through {
   text-decoration: line-through;
}

.text-uppercase {
   text-transform: uppercase;
}

.pull-right {
   display: block;
   float: right;
}

.bold-text {
   font-weight: bold;
}

.text-md {
   font-size: 16px;
}

.text-lg {
   font-size: 18px;
}

ul li a {
  color: inherit; 
}
