<div class="container center">
   <p class="bold-text">Empty in Draft</p>
   <p>Save a draft message and it will show up here</p>
   <a href="https://material.io/design/communication/empty-states.html#content">example</a>
</div>

