@model ProgressTracker.Models.Ptproject
@using SNGCommon.Resources

@{

}

<div class="modal-content">
   <h4>Modal Delete</h4>
   <p>A bunch of text</p>
</div>
<div class="modal-footer">
   <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
</div>