@model ProgressTracker.Models.Ptproject
@using ProgressTracker.Services;
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources

@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer
@{
   string message = string.Format(localizer.GetString(Model.Active ? Translation.DeleteProjectQuestion : Translation.RestoreProjectQuestion), string.Format("<b>{0}</b>", Model.Name));
}
<form method="post">
   <input type="hidden" asp-for="Id" />
   <input type="hidden" asp-for="PtuserId" />
   <div class="modal-content">
      <p>@Html.Raw(message)</p>
   </div>
   <div class="modal-footer">
      <button type="submit" asp-page="project" asp-page-handler="@(Model.Active ? "delete" : "restore")" asp-route-returnurl="@Context.Request.Path" class="btn black waves-effect waves-light">
         <i class="material-icons left">save</i>
         <span class="white-text">@localizer[Translation.Confirm]</span>
      </button>
   </div>
</form>