@model ProgressTracker.Models.Pttask
@using ProgressTracker.Services;
@using Microsoft.AspNetCore.Mvc.Localization
@using SNGCommon.Resources

@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer
<form method="post">
   <input type="hidden" asp-for="PtprojectId" />
   <div class="modal-content">
      <div class="row">
         <div class="input-field">
            <input asp-for="Description" class="validate focus-first" />
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="helper-text red-text"></span>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <button type="submit" asp-page="task" asp-page-handler="add" asp-route-returnurl="@Context.Request.Path" class="btn black waves-effect waves-light">
         <i class="material-icons left">save</i>
         <span class="white-text">@localizer[Translation.SaveChanges]</span>
      </button>
   </div>
</form>