@using SNGCommon.Resources
@{
    string title = ViewData["Title"].ToString();
    bool authenticated = Context.User.Identity.IsAuthenticated;
}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Home
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                @if (authenticated)
                {
                    <a class="button is-light" href="Logout">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>@Translation.Logout</span>
                    </a>
                }
                else
                {
                    <a class="button is-primary" href="Login">
                        <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>@Translation.Login</span>
                    </a>
                }
            </div>
        </div>
    </div>
</nav>