@page
@using ProgressTracker.Models;
@using SNGCommon.Resources
@model IndexModel
@{
    ViewData["Title"] = Translation.TitleIndexPage;
}

<div class="container">
    <div class="section">
        @foreach (var project in Model.Projects)
        {
            <partial name="Shared/_MasterViewEntryPartial" model="project" />
        }
    </div>
</div>
