@page
@using ProgressTracker.Models;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SNGCommon.Resources.Translation> localizer
@model IndexModel
@{
   ViewData["Title"] = "Progress Tracker";
   int.TryParse(TempData["ActiveProjectId"]?.ToString(), out int activeProjectId);
   TopNavbarViewModel topNavbarViewModel = new TopNavbarViewModel(ViewData["Title"].ToString(), User.Identity.IsAuthenticated);
}
<partial name="_NavbarTopPartial" model="topNavbarViewModel" />
<div class="collection">
   @foreach (ProjectViewModel projectModel in Model.Projects)
   {
      <a class="collection-item avatar" asp-page="project" asp-route-id="@projectModel.Project.Id" asp-route-returnurl="@HttpContext.Request.Path">
         <i class="material-icons circle">folder</i>
         <span class="title black-text">@projectModel.Project.Name</span>
      </a>
   }
</div>
