@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="flex h-screen">
    <div class="w-1/4 bg-grey"></div>
    <div class="w-1/4 bg-grey-light"></div>
    <div class="w-1/4 bg-grey"></div>
    <div class="w-1/4 bg-grey-light"></div>
</div>
